=begin
#Devdraft AI Payment & Business Management API

# A comprehensive payment processing and business management API that enables seamless integration of cryptocurrency and traditional payment methods.     

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Devdraft
  class CustomersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new customer
    # Creates a new customer in the system with their personal and contact information.      This endpoint allows you to register new customers and store their details for future transactions.  ## Use Cases - Register new customers for payment processing - Store customer information for recurring payments - Maintain customer profiles for transaction history  ## Example: Create New Customer ```json {   \"first_name\": \"John\",   \"last_name\": \"Doe\",   \"email\": \"john.doe@example.com\",   \"phone_number\": \"+1-555-123-4567\",   \"customer_type\": \"Startup\",   \"status\": \"ACTIVE\" } ```  ## Required Fields - `first_name`: Customer's first name (1-100 characters) - `last_name`: Customer's last name (1-100 characters) - `phone_number`: Customer's phone number (max 20 characters)  ## Optional Fields - `email`: Valid email address (max 255 characters) - `customer_type`: Type of customer account (Individual, Startup, Small Business, Medium Business, Enterprise, Non-Profit, Government) - `status`: Customer status (ACTIVE, BLACKLISTED, DEACTIVATED)
    # @param create_customer_dto [CreateCustomerDto] Customer creation data
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def customer_controller_create(create_customer_dto, opts = {})
      customer_controller_create_with_http_info(create_customer_dto, opts)
      nil
    end

    # Create a new customer
    # Creates a new customer in the system with their personal and contact information.      This endpoint allows you to register new customers and store their details for future transactions.  ## Use Cases - Register new customers for payment processing - Store customer information for recurring payments - Maintain customer profiles for transaction history  ## Example: Create New Customer &#x60;&#x60;&#x60;json {   \&quot;first_name\&quot;: \&quot;John\&quot;,   \&quot;last_name\&quot;: \&quot;Doe\&quot;,   \&quot;email\&quot;: \&quot;john.doe@example.com\&quot;,   \&quot;phone_number\&quot;: \&quot;+1-555-123-4567\&quot;,   \&quot;customer_type\&quot;: \&quot;Startup\&quot;,   \&quot;status\&quot;: \&quot;ACTIVE\&quot; } &#x60;&#x60;&#x60;  ## Required Fields - &#x60;first_name&#x60;: Customer&#39;s first name (1-100 characters) - &#x60;last_name&#x60;: Customer&#39;s last name (1-100 characters) - &#x60;phone_number&#x60;: Customer&#39;s phone number (max 20 characters)  ## Optional Fields - &#x60;email&#x60;: Valid email address (max 255 characters) - &#x60;customer_type&#x60;: Type of customer account (Individual, Startup, Small Business, Medium Business, Enterprise, Non-Profit, Government) - &#x60;status&#x60;: Customer status (ACTIVE, BLACKLISTED, DEACTIVATED)
    # @param create_customer_dto [CreateCustomerDto] Customer creation data
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def customer_controller_create_with_http_info(create_customer_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomersApi.customer_controller_create ...'
      end
      # verify the required parameter 'create_customer_dto' is set
      if @api_client.config.client_side_validation && create_customer_dto.nil?
        fail ArgumentError, "Missing the required parameter 'create_customer_dto' when calling CustomersApi.customer_controller_create"
      end
      # resource path
      local_var_path = '/api/v0/customers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_customer_dto)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-client-secret', 'x-client-key']

      new_options = opts.merge(
        :operation => :"CustomersApi.customer_controller_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomersApi#customer_controller_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all customers with filters
    # Retrieves a list of customers with optional filtering and pagination.      This endpoint allows you to search and filter customers based on various criteria.  ## Use Cases - List all customers with pagination - Search customers by name or email - Filter customers by status - Export customer data  ## Query Parameters - `skip`: Number of records to skip (default: 0, min: 0) - `take`: Number of records to take (default: 10, min: 1, max: 100) - `status`: Filter by customer status (ACTIVE, BLACKLISTED, DEACTIVATED) - `name`: Filter by customer name (partial match, case-insensitive) - `email`: Filter by customer email (exact match, case-insensitive)  ## Example Request `GET /api/v0/customers?skip=0&take=20&status=ACTIVE&name=John`  ## Example Response ```json {   \"data\": [     {       \"id\": \"cust_123456\",       \"first_name\": \"John\",       \"last_name\": \"Doe\",       \"email\": \"john.doe@example.com\",       \"phone_number\": \"+1-555-123-4567\",       \"customer_type\": \"Startup\",       \"status\": \"ACTIVE\",       \"created_at\": \"2024-03-20T10:00:00Z\",       \"updated_at\": \"2024-03-20T10:00:00Z\"     }   ],   \"total\": 100,   \"skip\": 0,   \"take\": 10 } ```
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :skip Number of records to skip for pagination (default to 0)
    # @option opts [Float] :take Number of records to return (max 100) (default to 10)
    # @option opts [CustomerStatus] :status Filter customers by status
    # @option opts [String] :name Filter customers by name (partial match, case-insensitive)
    # @option opts [String] :email Filter customers by email (exact match, case-insensitive)
    # @return [nil]
    def customer_controller_find_all(opts = {})
      customer_controller_find_all_with_http_info(opts)
      nil
    end

    # Get all customers with filters
    # Retrieves a list of customers with optional filtering and pagination.      This endpoint allows you to search and filter customers based on various criteria.  ## Use Cases - List all customers with pagination - Search customers by name or email - Filter customers by status - Export customer data  ## Query Parameters - &#x60;skip&#x60;: Number of records to skip (default: 0, min: 0) - &#x60;take&#x60;: Number of records to take (default: 10, min: 1, max: 100) - &#x60;status&#x60;: Filter by customer status (ACTIVE, BLACKLISTED, DEACTIVATED) - &#x60;name&#x60;: Filter by customer name (partial match, case-insensitive) - &#x60;email&#x60;: Filter by customer email (exact match, case-insensitive)  ## Example Request &#x60;GET /api/v0/customers?skip&#x3D;0&amp;take&#x3D;20&amp;status&#x3D;ACTIVE&amp;name&#x3D;John&#x60;  ## Example Response &#x60;&#x60;&#x60;json {   \&quot;data\&quot;: [     {       \&quot;id\&quot;: \&quot;cust_123456\&quot;,       \&quot;first_name\&quot;: \&quot;John\&quot;,       \&quot;last_name\&quot;: \&quot;Doe\&quot;,       \&quot;email\&quot;: \&quot;john.doe@example.com\&quot;,       \&quot;phone_number\&quot;: \&quot;+1-555-123-4567\&quot;,       \&quot;customer_type\&quot;: \&quot;Startup\&quot;,       \&quot;status\&quot;: \&quot;ACTIVE\&quot;,       \&quot;created_at\&quot;: \&quot;2024-03-20T10:00:00Z\&quot;,       \&quot;updated_at\&quot;: \&quot;2024-03-20T10:00:00Z\&quot;     }   ],   \&quot;total\&quot;: 100,   \&quot;skip\&quot;: 0,   \&quot;take\&quot;: 10 } &#x60;&#x60;&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :skip Number of records to skip for pagination (default to 0)
    # @option opts [Float] :take Number of records to return (max 100) (default to 10)
    # @option opts [CustomerStatus] :status Filter customers by status
    # @option opts [String] :name Filter customers by name (partial match, case-insensitive)
    # @option opts [String] :email Filter customers by email (exact match, case-insensitive)
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def customer_controller_find_all_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomersApi.customer_controller_find_all ...'
      end
      if @api_client.config.client_side_validation && !opts[:'skip'].nil? && opts[:'skip'] < 0
        fail ArgumentError, 'invalid value for "opts[:"skip"]" when calling CustomersApi.customer_controller_find_all, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'take'].nil? && opts[:'take'] > 100
        fail ArgumentError, 'invalid value for "opts[:"take"]" when calling CustomersApi.customer_controller_find_all, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'take'].nil? && opts[:'take'] < 1
        fail ArgumentError, 'invalid value for "opts[:"take"]" when calling CustomersApi.customer_controller_find_all, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'name'].nil? && opts[:'name'].to_s.length > 100
        fail ArgumentError, 'invalid value for "opts[:"name"]" when calling CustomersApi.customer_controller_find_all, the character length must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'email'].nil? && opts[:'email'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"email"]" when calling CustomersApi.customer_controller_find_all, the character length must be smaller than or equal to 255.'
      end

      # resource path
      local_var_path = '/api/v0/customers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'take'] = opts[:'take'] if !opts[:'take'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'email'] = opts[:'email'] if !opts[:'email'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-client-secret', 'x-client-key']

      new_options = opts.merge(
        :operation => :"CustomersApi.customer_controller_find_all",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomersApi#customer_controller_find_all\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a customer by ID
    # Retrieves detailed information about a specific customer.      This endpoint allows you to fetch complete customer details including their contact information and status.  ## Use Cases - View customer details - Verify customer information - Check customer status before processing payments  ## Path Parameters - `id`: Customer UUID (required) - Must be a valid UUID format  ## Example Request `GET /api/v0/customers/123e4567-e89b-12d3-a456-426614174000`  ## Example Response ```json {   \"id\": \"cust_123456\",   \"first_name\": \"John\",   \"last_name\": \"Doe\",   \"email\": \"john.doe@example.com\",   \"phone_number\": \"+1-555-123-4567\",   \"customer_type\": \"Enterprise\",   \"status\": \"ACTIVE\",   \"last_spent\": 1250.50,   \"last_purchase_date\": \"2024-03-15T14:30:00Z\",   \"created_at\": \"2024-03-20T10:00:00Z\",   \"updated_at\": \"2024-03-20T10:00:00Z\" } ```
    # @param id [String] Customer unique identifier (UUID)
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def customer_controller_find_one(id, opts = {})
      customer_controller_find_one_with_http_info(id, opts)
      nil
    end

    # Get a customer by ID
    # Retrieves detailed information about a specific customer.      This endpoint allows you to fetch complete customer details including their contact information and status.  ## Use Cases - View customer details - Verify customer information - Check customer status before processing payments  ## Path Parameters - &#x60;id&#x60;: Customer UUID (required) - Must be a valid UUID format  ## Example Request &#x60;GET /api/v0/customers/123e4567-e89b-12d3-a456-426614174000&#x60;  ## Example Response &#x60;&#x60;&#x60;json {   \&quot;id\&quot;: \&quot;cust_123456\&quot;,   \&quot;first_name\&quot;: \&quot;John\&quot;,   \&quot;last_name\&quot;: \&quot;Doe\&quot;,   \&quot;email\&quot;: \&quot;john.doe@example.com\&quot;,   \&quot;phone_number\&quot;: \&quot;+1-555-123-4567\&quot;,   \&quot;customer_type\&quot;: \&quot;Enterprise\&quot;,   \&quot;status\&quot;: \&quot;ACTIVE\&quot;,   \&quot;last_spent\&quot;: 1250.50,   \&quot;last_purchase_date\&quot;: \&quot;2024-03-15T14:30:00Z\&quot;,   \&quot;created_at\&quot;: \&quot;2024-03-20T10:00:00Z\&quot;,   \&quot;updated_at\&quot;: \&quot;2024-03-20T10:00:00Z\&quot; } &#x60;&#x60;&#x60;
    # @param id [String] Customer unique identifier (UUID)
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def customer_controller_find_one_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomersApi.customer_controller_find_one ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CustomersApi.customer_controller_find_one"
      end
      # resource path
      local_var_path = '/api/v0/customers/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-client-secret', 'x-client-key']

      new_options = opts.merge(
        :operation => :"CustomersApi.customer_controller_find_one",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomersApi#customer_controller_find_one\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a customer
    # Updates an existing customer's information.      This endpoint allows you to modify customer details while preserving their core information.  ## Use Cases - Update customer contact information - Change customer type - Modify customer status  ## Path Parameters - `id`: Customer UUID (required) - Must be a valid UUID format  ## Example Request `PATCH /api/v0/customers/123e4567-e89b-12d3-a456-426614174000`  ## Example Request Body ```json {   \"first_name\": \"John\",   \"last_name\": \"Smith\",   \"phone_number\": \"+1-987-654-3210\",   \"customer_type\": \"Small Business\" } ```  ## Notes - Only include fields that need to be updated - All fields are optional in updates - Status changes may require additional verification
    # @param id [String] Customer unique identifier (UUID)
    # @param update_customer_dto [UpdateCustomerDto] Customer update data
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def customer_controller_update(id, update_customer_dto, opts = {})
      customer_controller_update_with_http_info(id, update_customer_dto, opts)
      nil
    end

    # Update a customer
    # Updates an existing customer&#39;s information.      This endpoint allows you to modify customer details while preserving their core information.  ## Use Cases - Update customer contact information - Change customer type - Modify customer status  ## Path Parameters - &#x60;id&#x60;: Customer UUID (required) - Must be a valid UUID format  ## Example Request &#x60;PATCH /api/v0/customers/123e4567-e89b-12d3-a456-426614174000&#x60;  ## Example Request Body &#x60;&#x60;&#x60;json {   \&quot;first_name\&quot;: \&quot;John\&quot;,   \&quot;last_name\&quot;: \&quot;Smith\&quot;,   \&quot;phone_number\&quot;: \&quot;+1-987-654-3210\&quot;,   \&quot;customer_type\&quot;: \&quot;Small Business\&quot; } &#x60;&#x60;&#x60;  ## Notes - Only include fields that need to be updated - All fields are optional in updates - Status changes may require additional verification
    # @param id [String] Customer unique identifier (UUID)
    # @param update_customer_dto [UpdateCustomerDto] Customer update data
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def customer_controller_update_with_http_info(id, update_customer_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomersApi.customer_controller_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CustomersApi.customer_controller_update"
      end
      # verify the required parameter 'update_customer_dto' is set
      if @api_client.config.client_side_validation && update_customer_dto.nil?
        fail ArgumentError, "Missing the required parameter 'update_customer_dto' when calling CustomersApi.customer_controller_update"
      end
      # resource path
      local_var_path = '/api/v0/customers/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_customer_dto)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-client-secret', 'x-client-key']

      new_options = opts.merge(
        :operation => :"CustomersApi.customer_controller_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomersApi#customer_controller_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
