=begin
#Devdraft AI Payment & Business Management API

# A comprehensive payment processing and business management API that enables seamless integration of cryptocurrency and traditional payment methods.     

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Devdraft
  class InvoicesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new invoice
    # @param create_invoice_dto [CreateInvoiceDto] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def invoice_controller_create(create_invoice_dto, opts = {})
      invoice_controller_create_with_http_info(create_invoice_dto, opts)
      nil
    end

    # Create a new invoice
    # @param create_invoice_dto [CreateInvoiceDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def invoice_controller_create_with_http_info(create_invoice_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.invoice_controller_create ...'
      end
      # verify the required parameter 'create_invoice_dto' is set
      if @api_client.config.client_side_validation && create_invoice_dto.nil?
        fail ArgumentError, "Missing the required parameter 'create_invoice_dto' when calling InvoicesApi.invoice_controller_create"
      end
      # resource path
      local_var_path = '/api/v0/invoices'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_invoice_dto)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-client-secret', 'x-client-key']

      new_options = opts.merge(
        :operation => :"InvoicesApi.invoice_controller_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#invoice_controller_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all invoices
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :skip Number of records to skip
    # @option opts [Float] :take Number of records to take
    # @return [nil]
    def invoice_controller_find_all(opts = {})
      invoice_controller_find_all_with_http_info(opts)
      nil
    end

    # Get all invoices
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :skip Number of records to skip
    # @option opts [Float] :take Number of records to take
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def invoice_controller_find_all_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.invoice_controller_find_all ...'
      end
      # resource path
      local_var_path = '/api/v0/invoices'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'take'] = opts[:'take'] if !opts[:'take'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-client-secret', 'x-client-key']

      new_options = opts.merge(
        :operation => :"InvoicesApi.invoice_controller_find_all",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#invoice_controller_find_all\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an invoice by ID
    # @param id [String] Invoice ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def invoice_controller_find_one(id, opts = {})
      invoice_controller_find_one_with_http_info(id, opts)
      nil
    end

    # Get an invoice by ID
    # @param id [String] Invoice ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def invoice_controller_find_one_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.invoice_controller_find_one ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InvoicesApi.invoice_controller_find_one"
      end
      # resource path
      local_var_path = '/api/v0/invoices/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-client-secret', 'x-client-key']

      new_options = opts.merge(
        :operation => :"InvoicesApi.invoice_controller_find_one",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#invoice_controller_find_one\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an invoice
    # @param id [String] Invoice ID
    # @param create_invoice_dto [CreateInvoiceDto] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def invoice_controller_update(id, create_invoice_dto, opts = {})
      invoice_controller_update_with_http_info(id, create_invoice_dto, opts)
      nil
    end

    # Update an invoice
    # @param id [String] Invoice ID
    # @param create_invoice_dto [CreateInvoiceDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def invoice_controller_update_with_http_info(id, create_invoice_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.invoice_controller_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InvoicesApi.invoice_controller_update"
      end
      # verify the required parameter 'create_invoice_dto' is set
      if @api_client.config.client_side_validation && create_invoice_dto.nil?
        fail ArgumentError, "Missing the required parameter 'create_invoice_dto' when calling InvoicesApi.invoice_controller_update"
      end
      # resource path
      local_var_path = '/api/v0/invoices/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_invoice_dto)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-client-secret', 'x-client-key']

      new_options = opts.merge(
        :operation => :"InvoicesApi.invoice_controller_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#invoice_controller_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
