=begin
#Devdraft AI Payment & Business Management API

# A comprehensive payment processing and business management API that enables seamless integration of cryptocurrency and traditional payment methods.     

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Devdraft
  class LiquidationAddressesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new liquidation address for a customer
    #        Create a new liquidation address for a customer. Liquidation addresses allow        customers to automatically liquidate cryptocurrency holdings to fiat or other        stablecoins based on configured parameters.        **Required fields:**       - chain: Blockchain network (ethereum, polygon, arbitrum, base)       - currency: Stablecoin currency (usdc, eurc, dai, pyusd, usdt)       - address: Valid blockchain address        **At least one destination must be specified:**       - external_account_id: External bank account       - prefunded_account_id: Developer's prefunded account       - bridge_wallet_id: Bridge wallet       - destination_address: Crypto wallet address        **Payment Rails:**       Different payment rails have different requirements:       - ACH: Requires external_account_id, supports destination_ach_reference       - SEPA: Requires external_account_id, supports destination_sepa_reference       - Wire: Requires external_account_id, supports destination_wire_message       - Crypto: Requires destination_address, supports destination_blockchain_memo     
    # @param customer_id [String] Unique identifier for the customer
    # @param create_liquidation_address_dto [CreateLiquidationAddressDto] 
    # @param [Hash] opts the optional parameters
    # @return [LiquidationAddressResponseDto]
    def liquidation_address_controller_create_liquidation_address(customer_id, create_liquidation_address_dto, opts = {})
      data, _status_code, _headers = liquidation_address_controller_create_liquidation_address_with_http_info(customer_id, create_liquidation_address_dto, opts)
      data
    end

    # Create a new liquidation address for a customer
    #        Create a new liquidation address for a customer. Liquidation addresses allow        customers to automatically liquidate cryptocurrency holdings to fiat or other        stablecoins based on configured parameters.        **Required fields:**       - chain: Blockchain network (ethereum, polygon, arbitrum, base)       - currency: Stablecoin currency (usdc, eurc, dai, pyusd, usdt)       - address: Valid blockchain address        **At least one destination must be specified:**       - external_account_id: External bank account       - prefunded_account_id: Developer&#39;s prefunded account       - bridge_wallet_id: Bridge wallet       - destination_address: Crypto wallet address        **Payment Rails:**       Different payment rails have different requirements:       - ACH: Requires external_account_id, supports destination_ach_reference       - SEPA: Requires external_account_id, supports destination_sepa_reference       - Wire: Requires external_account_id, supports destination_wire_message       - Crypto: Requires destination_address, supports destination_blockchain_memo     
    # @param customer_id [String] Unique identifier for the customer
    # @param create_liquidation_address_dto [CreateLiquidationAddressDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LiquidationAddressResponseDto, Integer, Hash)>] LiquidationAddressResponseDto data, response status code and response headers
    def liquidation_address_controller_create_liquidation_address_with_http_info(customer_id, create_liquidation_address_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LiquidationAddressesApi.liquidation_address_controller_create_liquidation_address ...'
      end
      # verify the required parameter 'customer_id' is set
      if @api_client.config.client_side_validation && customer_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_id' when calling LiquidationAddressesApi.liquidation_address_controller_create_liquidation_address"
      end
      # verify the required parameter 'create_liquidation_address_dto' is set
      if @api_client.config.client_side_validation && create_liquidation_address_dto.nil?
        fail ArgumentError, "Missing the required parameter 'create_liquidation_address_dto' when calling LiquidationAddressesApi.liquidation_address_controller_create_liquidation_address"
      end
      # resource path
      local_var_path = '/api/v0/customers/{customerId}/liquidation_addresses'.sub('{' + 'customerId' + '}', CGI.escape(customer_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_liquidation_address_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'LiquidationAddressResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LiquidationAddressesApi.liquidation_address_controller_create_liquidation_address",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LiquidationAddressesApi#liquidation_address_controller_create_liquidation_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a specific liquidation address
    # Retrieve a specific liquidation address by its ID for a given customer.
    # @param customer_id [String] Unique identifier for the customer
    # @param liquidation_address_id [String] Unique identifier for the liquidation address
    # @param [Hash] opts the optional parameters
    # @return [LiquidationAddressResponseDto]
    def liquidation_address_controller_get_liquidation_address(customer_id, liquidation_address_id, opts = {})
      data, _status_code, _headers = liquidation_address_controller_get_liquidation_address_with_http_info(customer_id, liquidation_address_id, opts)
      data
    end

    # Get a specific liquidation address
    # Retrieve a specific liquidation address by its ID for a given customer.
    # @param customer_id [String] Unique identifier for the customer
    # @param liquidation_address_id [String] Unique identifier for the liquidation address
    # @param [Hash] opts the optional parameters
    # @return [Array<(LiquidationAddressResponseDto, Integer, Hash)>] LiquidationAddressResponseDto data, response status code and response headers
    def liquidation_address_controller_get_liquidation_address_with_http_info(customer_id, liquidation_address_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LiquidationAddressesApi.liquidation_address_controller_get_liquidation_address ...'
      end
      # verify the required parameter 'customer_id' is set
      if @api_client.config.client_side_validation && customer_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_id' when calling LiquidationAddressesApi.liquidation_address_controller_get_liquidation_address"
      end
      # verify the required parameter 'liquidation_address_id' is set
      if @api_client.config.client_side_validation && liquidation_address_id.nil?
        fail ArgumentError, "Missing the required parameter 'liquidation_address_id' when calling LiquidationAddressesApi.liquidation_address_controller_get_liquidation_address"
      end
      # resource path
      local_var_path = '/api/v0/customers/{customerId}/liquidation_addresses/{liquidationAddressId}'.sub('{' + 'customerId' + '}', CGI.escape(customer_id.to_s)).sub('{' + 'liquidationAddressId' + '}', CGI.escape(liquidation_address_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LiquidationAddressResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LiquidationAddressesApi.liquidation_address_controller_get_liquidation_address",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LiquidationAddressesApi#liquidation_address_controller_get_liquidation_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all liquidation addresses for a customer
    # Retrieve all liquidation addresses associated with a specific customer.
    # @param customer_id [String] Unique identifier for the customer
    # @param [Hash] opts the optional parameters
    # @return [Array<LiquidationAddressResponseDto>]
    def liquidation_address_controller_get_liquidation_addresses(customer_id, opts = {})
      data, _status_code, _headers = liquidation_address_controller_get_liquidation_addresses_with_http_info(customer_id, opts)
      data
    end

    # Get all liquidation addresses for a customer
    # Retrieve all liquidation addresses associated with a specific customer.
    # @param customer_id [String] Unique identifier for the customer
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<LiquidationAddressResponseDto>, Integer, Hash)>] Array<LiquidationAddressResponseDto> data, response status code and response headers
    def liquidation_address_controller_get_liquidation_addresses_with_http_info(customer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LiquidationAddressesApi.liquidation_address_controller_get_liquidation_addresses ...'
      end
      # verify the required parameter 'customer_id' is set
      if @api_client.config.client_side_validation && customer_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_id' when calling LiquidationAddressesApi.liquidation_address_controller_get_liquidation_addresses"
      end
      # resource path
      local_var_path = '/api/v0/customers/{customerId}/liquidation_addresses'.sub('{' + 'customerId' + '}', CGI.escape(customer_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<LiquidationAddressResponseDto>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LiquidationAddressesApi.liquidation_address_controller_get_liquidation_addresses",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LiquidationAddressesApi#liquidation_address_controller_get_liquidation_addresses\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
