=begin
#Devdraft AI Payment & Business Management API

# A comprehensive payment processing and business management API that enables seamless integration of cryptocurrency and traditional payment methods.     

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Devdraft
  class PaymentLinksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new payment link
    # Creates a new payment link with the provided details. Supports both simple one-time payments and complex product bundles.
    # @param create_payment_link_dto [CreatePaymentLinkDto] Payment link creation data
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def payment_links_controller_create(create_payment_link_dto, opts = {})
      payment_links_controller_create_with_http_info(create_payment_link_dto, opts)
      nil
    end

    # Create a new payment link
    # Creates a new payment link with the provided details. Supports both simple one-time payments and complex product bundles.
    # @param create_payment_link_dto [CreatePaymentLinkDto] Payment link creation data
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def payment_links_controller_create_with_http_info(create_payment_link_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentLinksApi.payment_links_controller_create ...'
      end
      # verify the required parameter 'create_payment_link_dto' is set
      if @api_client.config.client_side_validation && create_payment_link_dto.nil?
        fail ArgumentError, "Missing the required parameter 'create_payment_link_dto' when calling PaymentLinksApi.payment_links_controller_create"
      end
      # resource path
      local_var_path = '/api/v0/payment-links'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_payment_link_dto)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-client-secret', 'x-client-key']

      new_options = opts.merge(
        :operation => :"PaymentLinksApi.payment_links_controller_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentLinksApi#payment_links_controller_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all payment links
    # @param [Hash] opts the optional parameters
    # @option opts [String] :skip Number of records to skip (must be non-negative)
    # @option opts [String] :take Number of records to take (must be positive)
    # @return [nil]
    def payment_links_controller_find_all(opts = {})
      payment_links_controller_find_all_with_http_info(opts)
      nil
    end

    # Get all payment links
    # @param [Hash] opts the optional parameters
    # @option opts [String] :skip Number of records to skip (must be non-negative)
    # @option opts [String] :take Number of records to take (must be positive)
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def payment_links_controller_find_all_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentLinksApi.payment_links_controller_find_all ...'
      end
      # resource path
      local_var_path = '/api/v0/payment-links'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'take'] = opts[:'take'] if !opts[:'take'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-client-secret', 'x-client-key']

      new_options = opts.merge(
        :operation => :"PaymentLinksApi.payment_links_controller_find_all",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentLinksApi#payment_links_controller_find_all\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a payment link by ID
    # @param id [String] Payment Link ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def payment_links_controller_find_one(id, opts = {})
      payment_links_controller_find_one_with_http_info(id, opts)
      nil
    end

    # Get a payment link by ID
    # @param id [String] Payment Link ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def payment_links_controller_find_one_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentLinksApi.payment_links_controller_find_one ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PaymentLinksApi.payment_links_controller_find_one"
      end
      # resource path
      local_var_path = '/api/v0/payment-links/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-client-secret', 'x-client-key']

      new_options = opts.merge(
        :operation => :"PaymentLinksApi.payment_links_controller_find_one",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentLinksApi#payment_links_controller_find_one\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a payment link
    # @param id [String] Payment Link ID
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def payment_links_controller_update(id, body, opts = {})
      payment_links_controller_update_with_http_info(id, body, opts)
      nil
    end

    # Update a payment link
    # @param id [String] Payment Link ID
    # @param body [Object] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def payment_links_controller_update_with_http_info(id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentLinksApi.payment_links_controller_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PaymentLinksApi.payment_links_controller_update"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling PaymentLinksApi.payment_links_controller_update"
      end
      # resource path
      local_var_path = '/api/v0/payment-links/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-client-secret', 'x-client-key']

      new_options = opts.merge(
        :operation => :"PaymentLinksApi.payment_links_controller_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentLinksApi#payment_links_controller_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
