=begin
#Devdraft AI Payment & Business Management API

# A comprehensive payment processing and business management API that enables seamless integration of cryptocurrency and traditional payment methods.     

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Devdraft
  class PaymentIntentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a bank payment intent
    # Creates a new bank payment intent for fiat-to-stablecoin transfers.      This endpoint allows you to create payment intents for bank transfers (ACH, Wire, SEPA) that convert to stablecoins. Perfect for onboarding users from traditional banking to crypto.  ## Supported Payment Rails - **ACH_PUSH**: US bank transfers (same-day or standard) - **WIRE**: International wire transfers - **SEPA**: European bank transfers  ## Use Cases - USD bank account to USDC conversion - EUR bank account to EURC conversion - MXN bank account to stablecoin conversion - Flexible amount payment intents for variable pricing  ## Supported Source Currencies - **USD**: US Dollar - **EUR**: Euro - **MXN**: Mexican Peso  ## Example: USD Bank to USDC ```json {   \"sourcePaymentRail\": \"ach_push\",   \"sourceCurrency\": \"usd\",   \"destinationCurrency\": \"usdc\",   \"destinationNetwork\": \"ethereum\",   \"destinationAddress\": \"0x742d35Cc6634C0532925a3b8D4C9db96c4b4d8e1\",   \"amount\": \"1000.00\",   \"customer_first_name\": \"John\",   \"customer_last_name\": \"Doe\",   \"customer_email\": \"john.doe@example.com\",   \"ach_reference\": \"INV12345\" } ```  ## Reference Fields Use appropriate reference fields based on the payment rail: - `ach_reference`: For ACH transfers (max 10 chars, alphanumeric + spaces) - `wire_message`: For wire transfers (max 256 chars) - `sepa_reference`: For SEPA transfers (6-140 chars, specific character set)  ## Idempotency Include an `idempotency-key` header with a unique UUID v4 to prevent duplicate payments. Subsequent requests with the same key will return the original response.
    # @param idempotency_key [String] Unique UUID v4 for idempotent requests. Prevents duplicate payments.
    # @param create_bank_payment_intent_dto [CreateBankPaymentIntentDto] Bank payment intent creation data
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def payment_intent_controller_create_bank_payment_intent(idempotency_key, create_bank_payment_intent_dto, opts = {})
      payment_intent_controller_create_bank_payment_intent_with_http_info(idempotency_key, create_bank_payment_intent_dto, opts)
      nil
    end

    # Create a bank payment intent
    # Creates a new bank payment intent for fiat-to-stablecoin transfers.      This endpoint allows you to create payment intents for bank transfers (ACH, Wire, SEPA) that convert to stablecoins. Perfect for onboarding users from traditional banking to crypto.  ## Supported Payment Rails - **ACH_PUSH**: US bank transfers (same-day or standard) - **WIRE**: International wire transfers - **SEPA**: European bank transfers  ## Use Cases - USD bank account to USDC conversion - EUR bank account to EURC conversion - MXN bank account to stablecoin conversion - Flexible amount payment intents for variable pricing  ## Supported Source Currencies - **USD**: US Dollar - **EUR**: Euro - **MXN**: Mexican Peso  ## Example: USD Bank to USDC &#x60;&#x60;&#x60;json {   \&quot;sourcePaymentRail\&quot;: \&quot;ach_push\&quot;,   \&quot;sourceCurrency\&quot;: \&quot;usd\&quot;,   \&quot;destinationCurrency\&quot;: \&quot;usdc\&quot;,   \&quot;destinationNetwork\&quot;: \&quot;ethereum\&quot;,   \&quot;destinationAddress\&quot;: \&quot;0x742d35Cc6634C0532925a3b8D4C9db96c4b4d8e1\&quot;,   \&quot;amount\&quot;: \&quot;1000.00\&quot;,   \&quot;customer_first_name\&quot;: \&quot;John\&quot;,   \&quot;customer_last_name\&quot;: \&quot;Doe\&quot;,   \&quot;customer_email\&quot;: \&quot;john.doe@example.com\&quot;,   \&quot;ach_reference\&quot;: \&quot;INV12345\&quot; } &#x60;&#x60;&#x60;  ## Reference Fields Use appropriate reference fields based on the payment rail: - &#x60;ach_reference&#x60;: For ACH transfers (max 10 chars, alphanumeric + spaces) - &#x60;wire_message&#x60;: For wire transfers (max 256 chars) - &#x60;sepa_reference&#x60;: For SEPA transfers (6-140 chars, specific character set)  ## Idempotency Include an &#x60;idempotency-key&#x60; header with a unique UUID v4 to prevent duplicate payments. Subsequent requests with the same key will return the original response.
    # @param idempotency_key [String] Unique UUID v4 for idempotent requests. Prevents duplicate payments.
    # @param create_bank_payment_intent_dto [CreateBankPaymentIntentDto] Bank payment intent creation data
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def payment_intent_controller_create_bank_payment_intent_with_http_info(idempotency_key, create_bank_payment_intent_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentIntentsApi.payment_intent_controller_create_bank_payment_intent ...'
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling PaymentIntentsApi.payment_intent_controller_create_bank_payment_intent"
      end
      # verify the required parameter 'create_bank_payment_intent_dto' is set
      if @api_client.config.client_side_validation && create_bank_payment_intent_dto.nil?
        fail ArgumentError, "Missing the required parameter 'create_bank_payment_intent_dto' when calling PaymentIntentsApi.payment_intent_controller_create_bank_payment_intent"
      end
      # resource path
      local_var_path = '/api/v0/payment-intents/bank'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'idempotency-key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_bank_payment_intent_dto)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-client-secret', 'x-client-key']

      new_options = opts.merge(
        :operation => :"PaymentIntentsApi.payment_intent_controller_create_bank_payment_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentIntentsApi#payment_intent_controller_create_bank_payment_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a stable payment intent
    # Creates a new stable payment intent for stablecoin-to-stablecoin transfers.      This endpoint allows you to create payment intents for transfers between different stablecoins and networks. Perfect for cross-chain stablecoin swaps and conversions.  ## Use Cases - USDC to EURC conversions - Cross-chain stablecoin transfers (e.g., Ethereum USDC to Polygon USDC) - Flexible amount payment intents for dynamic pricing  ## Example: USDC to EURC Conversion ```json {   \"sourceCurrency\": \"usdc\",   \"sourceNetwork\": \"ethereum\",   \"destinationCurrency\": \"eurc\",   \"destinationNetwork\": \"polygon\",   \"destinationAddress\": \"0x742d35Cc6634C0532925a3b8D4C9db96c4b4d8e1\",   \"amount\": \"100.00\",   \"customer_first_name\": \"John\",   \"customer_last_name\": \"Doe\",   \"customer_email\": \"john.doe@example.com\" } ```  ## Flexible Amount Payments Omit the `amount` field to create a flexible payment intent where users can specify the amount during payment.  ## Idempotency Include an `idempotency-key` header with a unique UUID v4 to prevent duplicate payments. Subsequent requests with the same key will return the original response.
    # @param idempotency_key [String] Unique UUID v4 for idempotent requests. Prevents duplicate payments.
    # @param create_stable_payment_intent_dto [CreateStablePaymentIntentDto] Stable payment intent creation data
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def payment_intent_controller_create_stable_payment_intent(idempotency_key, create_stable_payment_intent_dto, opts = {})
      payment_intent_controller_create_stable_payment_intent_with_http_info(idempotency_key, create_stable_payment_intent_dto, opts)
      nil
    end

    # Create a stable payment intent
    # Creates a new stable payment intent for stablecoin-to-stablecoin transfers.      This endpoint allows you to create payment intents for transfers between different stablecoins and networks. Perfect for cross-chain stablecoin swaps and conversions.  ## Use Cases - USDC to EURC conversions - Cross-chain stablecoin transfers (e.g., Ethereum USDC to Polygon USDC) - Flexible amount payment intents for dynamic pricing  ## Example: USDC to EURC Conversion &#x60;&#x60;&#x60;json {   \&quot;sourceCurrency\&quot;: \&quot;usdc\&quot;,   \&quot;sourceNetwork\&quot;: \&quot;ethereum\&quot;,   \&quot;destinationCurrency\&quot;: \&quot;eurc\&quot;,   \&quot;destinationNetwork\&quot;: \&quot;polygon\&quot;,   \&quot;destinationAddress\&quot;: \&quot;0x742d35Cc6634C0532925a3b8D4C9db96c4b4d8e1\&quot;,   \&quot;amount\&quot;: \&quot;100.00\&quot;,   \&quot;customer_first_name\&quot;: \&quot;John\&quot;,   \&quot;customer_last_name\&quot;: \&quot;Doe\&quot;,   \&quot;customer_email\&quot;: \&quot;john.doe@example.com\&quot; } &#x60;&#x60;&#x60;  ## Flexible Amount Payments Omit the &#x60;amount&#x60; field to create a flexible payment intent where users can specify the amount during payment.  ## Idempotency Include an &#x60;idempotency-key&#x60; header with a unique UUID v4 to prevent duplicate payments. Subsequent requests with the same key will return the original response.
    # @param idempotency_key [String] Unique UUID v4 for idempotent requests. Prevents duplicate payments.
    # @param create_stable_payment_intent_dto [CreateStablePaymentIntentDto] Stable payment intent creation data
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def payment_intent_controller_create_stable_payment_intent_with_http_info(idempotency_key, create_stable_payment_intent_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentIntentsApi.payment_intent_controller_create_stable_payment_intent ...'
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling PaymentIntentsApi.payment_intent_controller_create_stable_payment_intent"
      end
      # verify the required parameter 'create_stable_payment_intent_dto' is set
      if @api_client.config.client_side_validation && create_stable_payment_intent_dto.nil?
        fail ArgumentError, "Missing the required parameter 'create_stable_payment_intent_dto' when calling PaymentIntentsApi.payment_intent_controller_create_stable_payment_intent"
      end
      # resource path
      local_var_path = '/api/v0/payment-intents/stablecoin'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'idempotency-key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_stable_payment_intent_dto)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-client-secret', 'x-client-key']

      new_options = opts.merge(
        :operation => :"PaymentIntentsApi.payment_intent_controller_create_stable_payment_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentIntentsApi#payment_intent_controller_create_stable_payment_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
