=begin
#Devdraft AI Payment & Business Management API

# A comprehensive payment processing and business management API that enables seamless integration of cryptocurrency and traditional payment methods.     

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Devdraft
  class TaxesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new tax
    # Creates a new tax rate that can be applied to products, invoices, and payment links.  ## Use Cases - Set up sales tax for different regions - Create VAT rates for international customers - Configure state and local tax rates - Manage tax compliance requirements  ## Example: Create Basic Sales Tax ```json {   \"name\": \"Sales Tax\",   \"description\": \"Standard sales tax for retail transactions\",   \"percentage\": 8.5,   \"active\": true } ```  ## Required Fields - `name`: Tax name for identification (1-100 characters) - `percentage`: Tax rate percentage (0-100)  ## Optional Fields - `description`: Explanation of what this tax covers (max 255 characters) - `active`: Whether this tax is currently active (default: true) - `appIds`: Array of app IDs where this tax should be available
    # @param create_tax_dto [CreateTaxDto] Tax creation data
    # @param [Hash] opts the optional parameters
    # @return [TaxControllerCreate201Response]
    def tax_controller_create(create_tax_dto, opts = {})
      data, _status_code, _headers = tax_controller_create_with_http_info(create_tax_dto, opts)
      data
    end

    # Create a new tax
    # Creates a new tax rate that can be applied to products, invoices, and payment links.  ## Use Cases - Set up sales tax for different regions - Create VAT rates for international customers - Configure state and local tax rates - Manage tax compliance requirements  ## Example: Create Basic Sales Tax &#x60;&#x60;&#x60;json {   \&quot;name\&quot;: \&quot;Sales Tax\&quot;,   \&quot;description\&quot;: \&quot;Standard sales tax for retail transactions\&quot;,   \&quot;percentage\&quot;: 8.5,   \&quot;active\&quot;: true } &#x60;&#x60;&#x60;  ## Required Fields - &#x60;name&#x60;: Tax name for identification (1-100 characters) - &#x60;percentage&#x60;: Tax rate percentage (0-100)  ## Optional Fields - &#x60;description&#x60;: Explanation of what this tax covers (max 255 characters) - &#x60;active&#x60;: Whether this tax is currently active (default: true) - &#x60;appIds&#x60;: Array of app IDs where this tax should be available
    # @param create_tax_dto [CreateTaxDto] Tax creation data
    # @param [Hash] opts the optional parameters
    # @return [Array<(TaxControllerCreate201Response, Integer, Hash)>] TaxControllerCreate201Response data, response status code and response headers
    def tax_controller_create_with_http_info(create_tax_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxesApi.tax_controller_create ...'
      end
      # verify the required parameter 'create_tax_dto' is set
      if @api_client.config.client_side_validation && create_tax_dto.nil?
        fail ArgumentError, "Missing the required parameter 'create_tax_dto' when calling TaxesApi.tax_controller_create"
      end
      # resource path
      local_var_path = '/api/v0/taxes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_tax_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'TaxControllerCreate201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-client-secret', 'x-client-key']

      new_options = opts.merge(
        :operation => :"TaxesApi.tax_controller_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxesApi#tax_controller_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Tax ID required for deletion
    # This endpoint requires a tax ID in the URL path. Use DELETE /api/v0/taxes/{id} instead.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def tax_controller_delete_without_id(opts = {})
      tax_controller_delete_without_id_with_http_info(opts)
      nil
    end

    # Tax ID required for deletion
    # This endpoint requires a tax ID in the URL path. Use DELETE /api/v0/taxes/{id} instead.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def tax_controller_delete_without_id_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxesApi.tax_controller_delete_without_id ...'
      end
      # resource path
      local_var_path = '/api/v0/taxes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-client-secret', 'x-client-key']

      new_options = opts.merge(
        :operation => :"TaxesApi.tax_controller_delete_without_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxesApi#tax_controller_delete_without_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all taxes with filters
    # Retrieves a list of taxes with optional filtering and pagination.  ## Use Cases - List all available tax rates - Search taxes by name - Filter active/inactive taxes - Export tax configuration  ## Query Parameters - `skip`: Number of records to skip (default: 0, min: 0) - `take`: Number of records to return (default: 10, min: 1, max: 100) - `name`: Filter taxes by name (partial match, case-insensitive) - `active`: Filter by active status (true/false)  ## Example Request `GET /api/v0/taxes?skip=0&take=20&active=true&name=Sales`  ## Example Response ```json [   {     \"id\": \"tax_123456\",     \"name\": \"Sales Tax\",     \"description\": \"Standard sales tax for retail transactions\",     \"percentage\": 8.5,     \"active\": true,     \"created_at\": \"2024-03-20T10:00:00Z\",     \"updated_at\": \"2024-03-20T10:00:00Z\"   } ] ```
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :skip Number of records to skip for pagination (default to 0)
    # @option opts [Float] :take Number of records to return (max 100) (default to 10)
    # @option opts [String] :name Filter taxes by name (partial match, case-insensitive)
    # @option opts [Boolean] :active Filter by active status
    # @return [nil]
    def tax_controller_find_all(opts = {})
      tax_controller_find_all_with_http_info(opts)
      nil
    end

    # Get all taxes with filters
    # Retrieves a list of taxes with optional filtering and pagination.  ## Use Cases - List all available tax rates - Search taxes by name - Filter active/inactive taxes - Export tax configuration  ## Query Parameters - &#x60;skip&#x60;: Number of records to skip (default: 0, min: 0) - &#x60;take&#x60;: Number of records to return (default: 10, min: 1, max: 100) - &#x60;name&#x60;: Filter taxes by name (partial match, case-insensitive) - &#x60;active&#x60;: Filter by active status (true/false)  ## Example Request &#x60;GET /api/v0/taxes?skip&#x3D;0&amp;take&#x3D;20&amp;active&#x3D;true&amp;name&#x3D;Sales&#x60;  ## Example Response &#x60;&#x60;&#x60;json [   {     \&quot;id\&quot;: \&quot;tax_123456\&quot;,     \&quot;name\&quot;: \&quot;Sales Tax\&quot;,     \&quot;description\&quot;: \&quot;Standard sales tax for retail transactions\&quot;,     \&quot;percentage\&quot;: 8.5,     \&quot;active\&quot;: true,     \&quot;created_at\&quot;: \&quot;2024-03-20T10:00:00Z\&quot;,     \&quot;updated_at\&quot;: \&quot;2024-03-20T10:00:00Z\&quot;   } ] &#x60;&#x60;&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :skip Number of records to skip for pagination (default to 0)
    # @option opts [Float] :take Number of records to return (max 100) (default to 10)
    # @option opts [String] :name Filter taxes by name (partial match, case-insensitive)
    # @option opts [Boolean] :active Filter by active status
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def tax_controller_find_all_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxesApi.tax_controller_find_all ...'
      end
      if @api_client.config.client_side_validation && !opts[:'skip'].nil? && opts[:'skip'] < 0
        fail ArgumentError, 'invalid value for "opts[:"skip"]" when calling TaxesApi.tax_controller_find_all, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'take'].nil? && opts[:'take'] > 100
        fail ArgumentError, 'invalid value for "opts[:"take"]" when calling TaxesApi.tax_controller_find_all, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'take'].nil? && opts[:'take'] < 1
        fail ArgumentError, 'invalid value for "opts[:"take"]" when calling TaxesApi.tax_controller_find_all, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'name'].nil? && opts[:'name'].to_s.length > 100
        fail ArgumentError, 'invalid value for "opts[:"name"]" when calling TaxesApi.tax_controller_find_all, the character length must be smaller than or equal to 100.'
      end

      # resource path
      local_var_path = '/api/v0/taxes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'take'] = opts[:'take'] if !opts[:'take'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-client-secret', 'x-client-key']

      new_options = opts.merge(
        :operation => :"TaxesApi.tax_controller_find_all",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxesApi#tax_controller_find_all\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a tax by ID
    # Retrieves detailed information about a specific tax.  ## Use Cases - View tax details - Verify tax configuration - Check tax status before applying to products  ## Path Parameters - `id`: Tax UUID (required) - Must be a valid UUID format  ## Example Request `GET /api/v0/taxes/123e4567-e89b-12d3-a456-426614174000`  ## Example Response ```json {   \"id\": \"tax_123456\",   \"name\": \"Sales Tax\",   \"description\": \"Standard sales tax for retail transactions\",   \"percentage\": 8.5,   \"active\": true,   \"created_at\": \"2024-03-20T10:00:00Z\",   \"updated_at\": \"2024-03-20T10:00:00Z\" } ```
    # @param id [String] Tax unique identifier (UUID)
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def tax_controller_find_one(id, opts = {})
      tax_controller_find_one_with_http_info(id, opts)
      nil
    end

    # Get a tax by ID
    # Retrieves detailed information about a specific tax.  ## Use Cases - View tax details - Verify tax configuration - Check tax status before applying to products  ## Path Parameters - &#x60;id&#x60;: Tax UUID (required) - Must be a valid UUID format  ## Example Request &#x60;GET /api/v0/taxes/123e4567-e89b-12d3-a456-426614174000&#x60;  ## Example Response &#x60;&#x60;&#x60;json {   \&quot;id\&quot;: \&quot;tax_123456\&quot;,   \&quot;name\&quot;: \&quot;Sales Tax\&quot;,   \&quot;description\&quot;: \&quot;Standard sales tax for retail transactions\&quot;,   \&quot;percentage\&quot;: 8.5,   \&quot;active\&quot;: true,   \&quot;created_at\&quot;: \&quot;2024-03-20T10:00:00Z\&quot;,   \&quot;updated_at\&quot;: \&quot;2024-03-20T10:00:00Z\&quot; } &#x60;&#x60;&#x60;
    # @param id [String] Tax unique identifier (UUID)
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def tax_controller_find_one_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxesApi.tax_controller_find_one ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TaxesApi.tax_controller_find_one"
      end
      # resource path
      local_var_path = '/api/v0/taxes/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-client-secret', 'x-client-key']

      new_options = opts.merge(
        :operation => :"TaxesApi.tax_controller_find_one",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxesApi#tax_controller_find_one\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a tax
    # Deletes an existing tax.  ## Use Cases - Remove obsolete tax rates - Clean up unused taxes - Comply with regulatory changes  ## Path Parameters - `id`: Tax UUID (required) - Must be a valid UUID format  ## Example Request `DELETE /api/v0/taxes/123e4567-e89b-12d3-a456-426614174000`  ## Warning This action cannot be undone. Consider deactivating the tax instead of deleting it if it has been used in transactions.
    # @param id [String] Tax unique identifier (UUID)
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def tax_controller_remove(id, opts = {})
      tax_controller_remove_with_http_info(id, opts)
      nil
    end

    # Delete a tax
    # Deletes an existing tax.  ## Use Cases - Remove obsolete tax rates - Clean up unused taxes - Comply with regulatory changes  ## Path Parameters - &#x60;id&#x60;: Tax UUID (required) - Must be a valid UUID format  ## Example Request &#x60;DELETE /api/v0/taxes/123e4567-e89b-12d3-a456-426614174000&#x60;  ## Warning This action cannot be undone. Consider deactivating the tax instead of deleting it if it has been used in transactions.
    # @param id [String] Tax unique identifier (UUID)
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def tax_controller_remove_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxesApi.tax_controller_remove ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TaxesApi.tax_controller_remove"
      end
      # resource path
      local_var_path = '/api/v0/taxes/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-client-secret', 'x-client-key']

      new_options = opts.merge(
        :operation => :"TaxesApi.tax_controller_remove",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxesApi#tax_controller_remove\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a tax
    # Updates an existing tax's information.  ## Use Cases - Modify tax percentage rates - Update tax descriptions - Activate/deactivate taxes - Change tax names  ## Path Parameters - `id`: Tax UUID (required) - Must be a valid UUID format  ## Example Request `PUT /api/v0/taxes/123e4567-e89b-12d3-a456-426614174000`  ## Example Request Body ```json {   \"name\": \"Updated Sales Tax\",   \"description\": \"Updated sales tax rate\",   \"percentage\": 9.0,   \"active\": true } ```  ## Notes - Only include fields that need to be updated - All fields are optional in updates - Percentage changes affect future calculations only
    # @param id [String] Tax unique identifier (UUID)
    # @param update_tax_dto [UpdateTaxDto] Tax update data - only include fields you want to update
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def tax_controller_update(id, update_tax_dto, opts = {})
      tax_controller_update_with_http_info(id, update_tax_dto, opts)
      nil
    end

    # Update a tax
    # Updates an existing tax&#39;s information.  ## Use Cases - Modify tax percentage rates - Update tax descriptions - Activate/deactivate taxes - Change tax names  ## Path Parameters - &#x60;id&#x60;: Tax UUID (required) - Must be a valid UUID format  ## Example Request &#x60;PUT /api/v0/taxes/123e4567-e89b-12d3-a456-426614174000&#x60;  ## Example Request Body &#x60;&#x60;&#x60;json {   \&quot;name\&quot;: \&quot;Updated Sales Tax\&quot;,   \&quot;description\&quot;: \&quot;Updated sales tax rate\&quot;,   \&quot;percentage\&quot;: 9.0,   \&quot;active\&quot;: true } &#x60;&#x60;&#x60;  ## Notes - Only include fields that need to be updated - All fields are optional in updates - Percentage changes affect future calculations only
    # @param id [String] Tax unique identifier (UUID)
    # @param update_tax_dto [UpdateTaxDto] Tax update data - only include fields you want to update
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def tax_controller_update_with_http_info(id, update_tax_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxesApi.tax_controller_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TaxesApi.tax_controller_update"
      end
      # verify the required parameter 'update_tax_dto' is set
      if @api_client.config.client_side_validation && update_tax_dto.nil?
        fail ArgumentError, "Missing the required parameter 'update_tax_dto' when calling TaxesApi.tax_controller_update"
      end
      # resource path
      local_var_path = '/api/v0/taxes/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_tax_dto)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-client-secret', 'x-client-key']

      new_options = opts.merge(
        :operation => :"TaxesApi.tax_controller_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxesApi#tax_controller_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Tax ID required for updates
    # This endpoint requires a tax ID in the URL path. Use PUT /api/v0/taxes/{id} instead.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def tax_controller_update_without_id(opts = {})
      tax_controller_update_without_id_with_http_info(opts)
      nil
    end

    # Tax ID required for updates
    # This endpoint requires a tax ID in the URL path. Use PUT /api/v0/taxes/{id} instead.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def tax_controller_update_without_id_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxesApi.tax_controller_update_without_id ...'
      end
      # resource path
      local_var_path = '/api/v0/taxes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-client-secret', 'x-client-key']

      new_options = opts.merge(
        :operation => :"TaxesApi.tax_controller_update_without_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxesApi#tax_controller_update_without_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
