=begin
#Devdraft AI Payment & Business Management API

# A comprehensive payment processing and business management API that enables seamless integration of cryptocurrency and traditional payment methods.     

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Devdraft
  class TransfersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a direct bank transfer
    # @param create_direct_bank_transfer_dto [CreateDirectBankTransferDto] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def transfer_controller_create_direct_bank_transfer(create_direct_bank_transfer_dto, opts = {})
      transfer_controller_create_direct_bank_transfer_with_http_info(create_direct_bank_transfer_dto, opts)
      nil
    end

    # Create a direct bank transfer
    # @param create_direct_bank_transfer_dto [CreateDirectBankTransferDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def transfer_controller_create_direct_bank_transfer_with_http_info(create_direct_bank_transfer_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransfersApi.transfer_controller_create_direct_bank_transfer ...'
      end
      # verify the required parameter 'create_direct_bank_transfer_dto' is set
      if @api_client.config.client_side_validation && create_direct_bank_transfer_dto.nil?
        fail ArgumentError, "Missing the required parameter 'create_direct_bank_transfer_dto' when calling TransfersApi.transfer_controller_create_direct_bank_transfer"
      end
      # resource path
      local_var_path = '/api/v0/transfers/direct-bank'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_direct_bank_transfer_dto)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-client-secret', 'x-client-key']

      new_options = opts.merge(
        :operation => :"TransfersApi.transfer_controller_create_direct_bank_transfer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransfersApi#transfer_controller_create_direct_bank_transfer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a direct wallet transfer
    # @param create_direct_wallet_transfer_dto [CreateDirectWalletTransferDto] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def transfer_controller_create_direct_wallet_transfer(create_direct_wallet_transfer_dto, opts = {})
      transfer_controller_create_direct_wallet_transfer_with_http_info(create_direct_wallet_transfer_dto, opts)
      nil
    end

    # Create a direct wallet transfer
    # @param create_direct_wallet_transfer_dto [CreateDirectWalletTransferDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def transfer_controller_create_direct_wallet_transfer_with_http_info(create_direct_wallet_transfer_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransfersApi.transfer_controller_create_direct_wallet_transfer ...'
      end
      # verify the required parameter 'create_direct_wallet_transfer_dto' is set
      if @api_client.config.client_side_validation && create_direct_wallet_transfer_dto.nil?
        fail ArgumentError, "Missing the required parameter 'create_direct_wallet_transfer_dto' when calling TransfersApi.transfer_controller_create_direct_wallet_transfer"
      end
      # resource path
      local_var_path = '/api/v0/transfers/direct-wallet'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_direct_wallet_transfer_dto)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-client-secret', 'x-client-key']

      new_options = opts.merge(
        :operation => :"TransfersApi.transfer_controller_create_direct_wallet_transfer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransfersApi#transfer_controller_create_direct_wallet_transfer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an external bank transfer
    # @param create_external_bank_transfer_dto [CreateExternalBankTransferDto] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def transfer_controller_create_external_bank_transfer(create_external_bank_transfer_dto, opts = {})
      transfer_controller_create_external_bank_transfer_with_http_info(create_external_bank_transfer_dto, opts)
      nil
    end

    # Create an external bank transfer
    # @param create_external_bank_transfer_dto [CreateExternalBankTransferDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def transfer_controller_create_external_bank_transfer_with_http_info(create_external_bank_transfer_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransfersApi.transfer_controller_create_external_bank_transfer ...'
      end
      # verify the required parameter 'create_external_bank_transfer_dto' is set
      if @api_client.config.client_side_validation && create_external_bank_transfer_dto.nil?
        fail ArgumentError, "Missing the required parameter 'create_external_bank_transfer_dto' when calling TransfersApi.transfer_controller_create_external_bank_transfer"
      end
      # resource path
      local_var_path = '/api/v0/transfers/external-bank-transfer'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_external_bank_transfer_dto)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-client-secret', 'x-client-key']

      new_options = opts.merge(
        :operation => :"TransfersApi.transfer_controller_create_external_bank_transfer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransfersApi#transfer_controller_create_external_bank_transfer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an external stablecoin transfer
    # @param create_external_stablecoin_transfer_dto [CreateExternalStablecoinTransferDto] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def transfer_controller_create_external_stablecoin_transfer(create_external_stablecoin_transfer_dto, opts = {})
      transfer_controller_create_external_stablecoin_transfer_with_http_info(create_external_stablecoin_transfer_dto, opts)
      nil
    end

    # Create an external stablecoin transfer
    # @param create_external_stablecoin_transfer_dto [CreateExternalStablecoinTransferDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def transfer_controller_create_external_stablecoin_transfer_with_http_info(create_external_stablecoin_transfer_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransfersApi.transfer_controller_create_external_stablecoin_transfer ...'
      end
      # verify the required parameter 'create_external_stablecoin_transfer_dto' is set
      if @api_client.config.client_side_validation && create_external_stablecoin_transfer_dto.nil?
        fail ArgumentError, "Missing the required parameter 'create_external_stablecoin_transfer_dto' when calling TransfersApi.transfer_controller_create_external_stablecoin_transfer"
      end
      # resource path
      local_var_path = '/api/v0/transfers/external-stablecoin-transfer'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_external_stablecoin_transfer_dto)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-client-secret', 'x-client-key']

      new_options = opts.merge(
        :operation => :"TransfersApi.transfer_controller_create_external_stablecoin_transfer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransfersApi#transfer_controller_create_external_stablecoin_transfer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a stablecoin conversion
    # @param create_stablecoin_conversion_dto [CreateStablecoinConversionDto] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def transfer_controller_create_stablecoin_conversion(create_stablecoin_conversion_dto, opts = {})
      transfer_controller_create_stablecoin_conversion_with_http_info(create_stablecoin_conversion_dto, opts)
      nil
    end

    # Create a stablecoin conversion
    # @param create_stablecoin_conversion_dto [CreateStablecoinConversionDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def transfer_controller_create_stablecoin_conversion_with_http_info(create_stablecoin_conversion_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransfersApi.transfer_controller_create_stablecoin_conversion ...'
      end
      # verify the required parameter 'create_stablecoin_conversion_dto' is set
      if @api_client.config.client_side_validation && create_stablecoin_conversion_dto.nil?
        fail ArgumentError, "Missing the required parameter 'create_stablecoin_conversion_dto' when calling TransfersApi.transfer_controller_create_stablecoin_conversion"
      end
      # resource path
      local_var_path = '/api/v0/transfers/stablecoin-conversion'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_stablecoin_conversion_dto)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-client-secret', 'x-client-key']

      new_options = opts.merge(
        :operation => :"TransfersApi.transfer_controller_create_stablecoin_conversion",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransfersApi#transfer_controller_create_stablecoin_conversion\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
