=begin
#Devdraft AI Payment & Business Management API

# A comprehensive payment processing and business management API that enables seamless integration of cryptocurrency and traditional payment methods.     

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Devdraft
  class WebhooksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new webhook
    # Creates a new webhook endpoint for receiving event notifications. Requires webhook:create scope.
    # @param create_webhook_dto [CreateWebhookDto] Webhook configuration details
    # @param [Hash] opts the optional parameters
    # @return [WebhookResponseDto]
    def webhook_controller_create(create_webhook_dto, opts = {})
      data, _status_code, _headers = webhook_controller_create_with_http_info(create_webhook_dto, opts)
      data
    end

    # Create a new webhook
    # Creates a new webhook endpoint for receiving event notifications. Requires webhook:create scope.
    # @param create_webhook_dto [CreateWebhookDto] Webhook configuration details
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookResponseDto, Integer, Hash)>] WebhookResponseDto data, response status code and response headers
    def webhook_controller_create_with_http_info(create_webhook_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.webhook_controller_create ...'
      end
      # verify the required parameter 'create_webhook_dto' is set
      if @api_client.config.client_side_validation && create_webhook_dto.nil?
        fail ArgumentError, "Missing the required parameter 'create_webhook_dto' when calling WebhooksApi.webhook_controller_create"
      end
      # resource path
      local_var_path = '/api/v0/webhooks'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_webhook_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-client-secret', 'x-client-key']

      new_options = opts.merge(
        :operation => :"WebhooksApi.webhook_controller_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#webhook_controller_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all webhooks
    # Retrieves a list of all webhooks for your application. Requires webhook:read scope.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :skip Number of records to skip (default: 0)
    # @option opts [Float] :take Number of records to return (default: 10)
    # @return [Array<WebhookResponseDto>]
    def webhook_controller_find_all(opts = {})
      data, _status_code, _headers = webhook_controller_find_all_with_http_info(opts)
      data
    end

    # Get all webhooks
    # Retrieves a list of all webhooks for your application. Requires webhook:read scope.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :skip Number of records to skip (default: 0)
    # @option opts [Float] :take Number of records to return (default: 10)
    # @return [Array<(Array<WebhookResponseDto>, Integer, Hash)>] Array<WebhookResponseDto> data, response status code and response headers
    def webhook_controller_find_all_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.webhook_controller_find_all ...'
      end
      # resource path
      local_var_path = '/api/v0/webhooks'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'take'] = opts[:'take'] if !opts[:'take'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<WebhookResponseDto>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-client-secret', 'x-client-key']

      new_options = opts.merge(
        :operation => :"WebhooksApi.webhook_controller_find_all",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#webhook_controller_find_all\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a webhook by id
    # Retrieves details for a specific webhook. Requires webhook:read scope.
    # @param id [String] Webhook unique identifier (UUID)
    # @param [Hash] opts the optional parameters
    # @return [WebhookResponseDto]
    def webhook_controller_find_one(id, opts = {})
      data, _status_code, _headers = webhook_controller_find_one_with_http_info(id, opts)
      data
    end

    # Get a webhook by id
    # Retrieves details for a specific webhook. Requires webhook:read scope.
    # @param id [String] Webhook unique identifier (UUID)
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookResponseDto, Integer, Hash)>] WebhookResponseDto data, response status code and response headers
    def webhook_controller_find_one_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.webhook_controller_find_one ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhooksApi.webhook_controller_find_one"
      end
      # resource path
      local_var_path = '/api/v0/webhooks/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-client-secret', 'x-client-key']

      new_options = opts.merge(
        :operation => :"WebhooksApi.webhook_controller_find_one",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#webhook_controller_find_one\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a webhook
    # Deletes a webhook configuration. Requires webhook:delete scope.
    # @param id [String] Webhook unique identifier (UUID)
    # @param [Hash] opts the optional parameters
    # @return [WebhookResponseDto]
    def webhook_controller_remove(id, opts = {})
      data, _status_code, _headers = webhook_controller_remove_with_http_info(id, opts)
      data
    end

    # Delete a webhook
    # Deletes a webhook configuration. Requires webhook:delete scope.
    # @param id [String] Webhook unique identifier (UUID)
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookResponseDto, Integer, Hash)>] WebhookResponseDto data, response status code and response headers
    def webhook_controller_remove_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.webhook_controller_remove ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhooksApi.webhook_controller_remove"
      end
      # resource path
      local_var_path = '/api/v0/webhooks/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-client-secret', 'x-client-key']

      new_options = opts.merge(
        :operation => :"WebhooksApi.webhook_controller_remove",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#webhook_controller_remove\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a webhook
    # Updates an existing webhook configuration. Requires webhook:update scope.
    # @param id [String] Webhook unique identifier (UUID)
    # @param update_webhook_dto [UpdateWebhookDto] Webhook update details
    # @param [Hash] opts the optional parameters
    # @return [WebhookResponseDto]
    def webhook_controller_update(id, update_webhook_dto, opts = {})
      data, _status_code, _headers = webhook_controller_update_with_http_info(id, update_webhook_dto, opts)
      data
    end

    # Update a webhook
    # Updates an existing webhook configuration. Requires webhook:update scope.
    # @param id [String] Webhook unique identifier (UUID)
    # @param update_webhook_dto [UpdateWebhookDto] Webhook update details
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookResponseDto, Integer, Hash)>] WebhookResponseDto data, response status code and response headers
    def webhook_controller_update_with_http_info(id, update_webhook_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.webhook_controller_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhooksApi.webhook_controller_update"
      end
      # verify the required parameter 'update_webhook_dto' is set
      if @api_client.config.client_side_validation && update_webhook_dto.nil?
        fail ArgumentError, "Missing the required parameter 'update_webhook_dto' when calling WebhooksApi.webhook_controller_update"
      end
      # resource path
      local_var_path = '/api/v0/webhooks/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_webhook_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-client-secret', 'x-client-key']

      new_options = opts.merge(
        :operation => :"WebhooksApi.webhook_controller_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#webhook_controller_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
